    :root {
            --primary-color: #f0f0f0;
            --secondary-color: #c0c0c0;
            --background-color: #1a1a1a;
            --accent-color: #6a1b9a;
            --font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
            --button-size: 60px;
        }

        /* Basic Body and Content Styles */
        body {
            font-family: var(--font-family);
            background-color: var(--background-color);
            color: var(--primary-color);
            line-height: 1.8;
            margin: 0;
            padding: 20px;
            padding-top: 80px; 
        }

        .lyrics-container {
            max-width: 800px;
            margin: auto;
            padding: 20px;
            text-align: center;
        }

        .song-title {
            font-size: 2.5rem;
            font-weight: 700;
            color: var(--accent-color);
            margin-bottom: 10px;
        }

        .artist-name {
            font-size: 1.2rem;
            color: var(--secondary-color);
            margin-bottom: 40px;
        }

        .lyrics-text {
            font-size: 1.1rem;
            text-align: left;
            padding: 0 20px;
            line-height: 1;
            white-space: pre;

        }

        /* Floating Back Button */
        .back-button {
            position: fixed;
            top: 20px;
            left: 20px;
            width: var(--button-size);
            height: var(--button-size);
            border-radius: 50%;
            background-color: var(--accent-color);
            color: var(--primary-color);
            border: none;
            cursor: pointer;
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
            font-size: 1.5rem;
            font-weight: bold;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
            z-index: 1000;
        }

        .back-button:hover {
            background-color: #7d29b3;
            transform: scale(1.1);
            box-shadow: 0 6px 20px rgba(0, 0, 0, 0.6);
        }

        .back-button::before {
            content: '←';
        }
